@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wa-bg-pattern {
    background-color: #EFEAE2;
    background-image: radial-gradient(#d3c6b2 0.75px, transparent 0.75px), radial-gradient(#d3c6b2 0.75px, #EFEAE2 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
